@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-fog-50: #ffddba;
  --color-fog-200: #d9ae8e;
  --color-fog-400: #9f8d8d;
  --color-fog-700: #4e4c4f;
  --color-fog-900: #232220;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
